header{
  width: 100vw;
  height: 9.3rem;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  padding: 0rem 6.7rem;
}

header > #logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > #logo > #logo-img{
  width: 4.8rem;
  height: 5.7rem;
  margin-right: -0.6rem;
}

header > #logo > #logo-text{
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 600;
  line-height: 83%;
}

header > #logo > #logo-text span{
  display: inline-block;
  text-indent: 1.55rem;
}


header > #menu-itens{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

header > #menu-itens > nav > ul{
  display: flex;  
  gap: 3.7rem;

}

header > #menu-itens > nav > ul > li {
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
}


header > #menu-itens > #menu-itens-icons{
  display: flex;
  gap: 1.9rem;
}

header > #menu-itens > nav > ul > #item > a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

header > #menu-itens > #join-button{
  width: 13.1rem;
  height: 3.3rem;
  background-color: #89D3D1;
  border-radius: 7.1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;


  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;

  transition: background-color 0.3s ease;
}

header > #menu-itens > #join-button:hover{
  background-color: #659b99;
}