#offer-section{
  width: 100vw;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0rem 6.7rem;
  
  background-color: #F0DACD;
}